doctype 
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style2.css')
		script(src="http://localhost:8080/socket.io/socket.io.js")
		script(src="/javascripts/socket.js")
		script(src="/javascripts/paper.js")

	body(style="padding:0;")
	
		block content
